@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  display: inline-block;
}

li {
  list-style-type: none;
}

body {
  font-size: 12px;
  font-family: "League Spartan", sans-serif;
  min-width: 100vw;
  min-height: 100vh;
}
@media screen and (max-width: 480px) {
  body {
    height: 100%;
  }
}

@media screen and (max-width: 480px) {
  #overlay.dark {
    position: fixed;
    left: 0;
    top: 73px;
    width: 100%;
    height: 342%;
    background: rgba(100, 100, 100, 0.8);
    z-index: 100;
  }
}

.header {
  position: absolute;
  z-index: 2;
  width: 100%;
}
.header__wrapper {
  display: flex;
  align-items: center;
  padding: 0 5rem;
  min-height: 8rem;
}
@media screen and (max-width: 768px) {
  .header__wrapper {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 480px) {
  .header__logo {
    position: absolute;
    left: 45%;
  }
}
.header__hamburger--mobile {
  display: none;
}
@media screen and (max-width: 480px) {
  .header__hamburger--mobile {
    display: block;
  }
}
.header__close-icon {
  display: none;
}
@media screen and (max-width: 480px) {
  .header__close-icon {
    display: block;
  }
}
.header img {
  object-fit: contain;
}
@media screen and (max-width: 480px) {
  .header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 100%;
    top: 0;
    width: 100%;
    height: 14vh;
    background-color: hsl(0, 0%, 100%);
    z-index: 200;
  }
  .header__nav.open {
    transform: translateX(-100%);
  }
}
.header__nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .header__nav ul {
    left: 5%;
  }
}
@media screen and (max-width: 480px) {
  .header__nav ul {
    position: relative;
    left: 6%;
    padding-left: 0;
  }
}
.header__nav ul li a {
  color: hsl(0, 0%, 100%);
  padding: 1rem;
  text-transform: lowercase;
  font-size: 18px;
  font-weight: 500;
  position: relative;
}
.header__nav ul li a::after {
  position: absolute;
  content: "";
  left: 50%;
  width: 0;
  height: 2px;
  background: hsl(0, 0%, 100%);
  bottom: 12px;
  transition: 0.3s;
  transform: translateX(-50%);
}
.header__nav ul li a:hover::after {
  width: calc(70% - 20px);
}
@media screen and (max-width: 480px) {
  .header__nav ul li a {
    color: hsl(0, 0%, 0%);
    padding: 0.5rem;
    font-size: 16px;
  }
}

.slider {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  .slider {
    display: flex;
    flex-direction: column;
  }
}
.slider__img--wrapper {
  grid-column: 1/8;
  position: relative;
  min-height: 70vh;
}
@media screen and (max-width: 768px) {
  .slider__img--wrapper {
    min-height: 60vh;
  }
}
@media screen and (max-width: 480px) {
  .slider__img--wrapper {
    min-height: 70vh;
  }
}
.slider__img {
  background-image: url("../../images/desktop-image-hero-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.slider__img.active-photo {
  opacity: 1;
}
@media screen and (max-width: 480px) {
  .slider__img {
    background-image: url("../../images/mobile-image-hero-1.jpg");
  }
}
.slider__img:nth-child(1) {
  background-image: url("../../images/desktop-image-hero-1.jpg");
}
@media screen and (max-width: 480px) {
  .slider__img:nth-child(1) {
    background-image: url("../../images/mobile-image-hero-1.jpg");
  }
}
.slider__img:nth-child(2) {
  background-image: url("../../images/desktop-image-hero-2.jpg");
}
@media screen and (max-width: 480px) {
  .slider__img:nth-child(2) {
    background-image: url("../../images/mobile-image-hero-2.jpg");
  }
}
.slider__img:nth-child(3) {
  background-image: url("../../images/desktop-image-hero-3.jpg");
}
@media screen and (max-width: 480px) {
  .slider__img:nth-child(3) {
    background-image: url("../../images/mobile-image-hero-3.jpg");
  }
}
.slider__btn--wrapper {
  display: flex;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 100%;
}
@media screen and (max-width: 480px) {
  .slider__btn--wrapper {
    left: unset;
    right: 0;
  }
}
.slider__btn--wrapper .slider__btn {
  width: 4.85rem;
  height: 4.85rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: hsl(0, 0%, 0%);
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .slider__btn--wrapper .slider__btn {
    width: 3rem;
    height: 3rem;
  }
}
.slider__btn--wrapper .slider__btn:hover {
  background-color: hsl(0, 0%, 27%);
}
.slider__text--wrapper {
  grid-column: 8/13;
  position: relative;
  overflow: hidden;
}
.slider__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: none;
  padding: 6rem;
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .slider__text {
    padding: 2rem;
  }
}
.slider__text.active-text {
  opacity: 1;
}
@media screen and (max-width: 480px) {
  .slider__text {
    padding: 4rem 2rem;
  }
}
.slider__text .heading {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 768px) {
  .slider__text .heading {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 480px) {
  .slider__text .heading {
    font-size: 2.5rem;
  }
}
.slider__text .desc {
  color: hsl(0, 0%, 63%);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 768px) {
  .slider__text .desc {
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
  }
}
@media screen and (max-width: 480px) {
  .slider__text .desc {
    margin-bottom: 4rem;
  }
}
.slider__text .arrow-icon {
  display: flex;
}
.slider__text .arrow-icon span {
  text-transform: uppercase;
  font-weight: 700;
  color: hsl(0, 0%, 0%);
  font-size: 1rem;
  letter-spacing: 0.8rem;
}
@media screen and (max-width: 768px) {
  .slider__text .arrow-icon span {
    font-size: 0.7rem;
    letter-spacing: 0.5rem;
  }
}
.slider__text .arrow-icon img {
  margin-left: 1.5rem;
}
@media screen and (max-width: 768px) {
  .slider__text .arrow-icon img {
    margin-left: 1rem;
  }
}
.slider__text.active-text {
  display: block;
}

.about {
  display: grid;
  grid-template-columns: 1fr 560px 1fr;
  min-height: 30vh;
}
@media screen and (max-width: 768px) {
  .about {
    display: flex;
    flex-direction: row;
    min-height: 40vh;
    position: relative;
  }
}
@media screen and (max-width: 480px) {
  .about {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}
.about__column1 {
  background-image: url("../../images/image-about-dark.jpg");
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .about__column1 {
    width: 65%;
  }
}
@media screen and (max-width: 480px) {
  .about__column1 {
    grid-column: 1/2;
    background-size: cover;
    width: 100%;
  }
  .about__column1.dark {
    filter: blur(2px);
  }
}
.about__column3 {
  background-image: url("../../images/image-about-light.jpg");
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .about__column3 {
    width: 65%;
    background-position: 50% 50%;
  }
}
@media screen and (max-width: 480px) {
  .about__column3 {
    width: 100%;
  }
}
.about__column2 {
  padding: 9% 8%;
}
@media screen and (max-width: 768px) {
  .about__column2 {
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .about__column2 {
    padding: 10% 7%;
  }
}
.about__column2 h2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5rem;
  margin-bottom: 13px;
}
@media screen and (max-width: 768px) {
  .about__column2 h2 {
    font-size: 0.9rem;
    font-weight: 800;
    margin-top: 0.5rem;
  }
}
@media screen and (max-width: 480px) {
  .about__column2 h2 {
    margin-bottom: 25px;
  }
}
.about__column2 p {
  color: hsl(0, 0%, 63%);
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.3rem;
}
@media screen and (max-width: 768px) {
  .about__column2 p {
    font-size: 0.8rem;
    line-height: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
