@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

li {
  list-style-type: none;
}

@media screen and (max-width: 595px) {
  body {
    font-size: 14px;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 0;
}

.text-wrapper {
  width: 70%;
  margin-inline: auto;
}

.aside__text-wrapper {
  margin-bottom: 2.5rem;
}

.section__text-wrapper {
  width: 80%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 0;
}

.flex-box {
  display: flex;
  align-items: center;
}

.main img:not(.hamburger, .logo),
section img {
  width: 100%;
}

.slider__img--mobile {
  display: none;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
  color: hsl(0, 0%, 0%);
  font-family: "League Spartan", sans-serif;
}

p {
  font-size: 1em;
  font-weight: 500;
  line-height: 1.5em;
  padding-block: 1.5em;
  color: hsl(0, 0%, 63%);
}

section p {
  padding-bottom: 0;
}

img {
  max-width: 100%;
  min-height: 100%;
  display: block;
}

@media screen and (max-width: 595px) {
  #overlay.dark {
    position: fixed;
    left: 0;
    top: 73px;
    width: 100%;
    height: 342%;
    background: rgba(100, 100, 100, 0.8);
    z-index: 100;
  }
}

.main {
  grid-column: span 6;
}
@media screen and (max-width: 1200px) {
  .main .slider__img--desktop {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .main .slider__img--mobile {
    display: block;
  }
}
.main .header {
  position: absolute;
  max-height: 5rem;
  width: 50%;
  top: 3rem;
  left: 3rem;
}
@media screen and (max-width: 595px) {
  .main .header {
    width: 100%;
    top: 2rem;
    left: 0;
    padding-inline: 2rem;
  }
}
.main .header__wrapper {
  display: flex;
  align-items: center;
  gap: 4rem;
}
@media screen and (max-width: 595px) {
  .main .header__wrapper {
    gap: 0;
  }
}
.main .header__wrapper .hamburger {
  display: none;
}
@media screen and (max-width: 595px) {
  .main .header__wrapper .hamburger {
    display: block;
  }
}
@media screen and (max-width: 595px) {
  .main .header__wrapper .logo {
    margin-inline: auto;
  }
}
@media screen and (max-width: 595px) {
  .main .header__nav {
    position: fixed;
    width: max-content;
    width: 100%;
    background-color: white;
    top: 0;
    left: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s linear 0.25s;
  }
  .main .header__nav.open {
    max-height: 10rem;
    overflow: hidden;
    transition: max-height 0.4s linear;
  }
  .main .header__nav::before {
    content: "";
    background-color: hsl(0, 0%, 27%);
    position: fixed;
    inset: 0;
    z-index: -1;
    opacity: 0.65;
    max-height: 0;
    transition: 0.5s linear;
  }
  .main .header__nav.open::before {
    max-height: 100vmax;
    transition: 0.5s linear 0.1s;
  }
}
.main .header__nav ul {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}
@media screen and (max-width: 595px) {
  .main .header__nav ul {
    justify-content: flex-end;
    align-items: center;
    padding: 1.5rem 5%;
    background-color: white;
  }
}
.main .header__nav ul a {
  display: block;
  padding-block: 12px;
  color: hsl(0, 0%, 100%);
  font-size: 1.1em;
  font-weight: 500;
  position: relative;
}
@media screen and (max-width: 595px) {
  .main .header__nav ul a {
    color: hsl(0, 0%, 0%);
  }
}
.main .header__nav ul a::after {
  content: "";
  left: 50%;
  width: 0;
  height: 2px;
  background: hsl(0, 0%, 100%);
  bottom: 12px;
  transition: 0.3s;
  transform: translateX(-50%);
  position: absolute;
}
.main .header__nav ul a:hover::after {
  width: calc(70% - 20px);
}
@media screen and (max-width: 595px) {
  .main .header__nav ul .close-li {
    margin-inline: auto;
  }
  .main .header__nav ul .close-li .close {
    background-image: url("../../images/icon-close.svg");
    width: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    aspect-ratio: 1;
  }
}

.aside {
  grid-column: span 4;
  position: relative;
  height: 100%;
}
.aside__text-wrapper {
  width: 70%;
  margin-inline: auto;
}
@media screen and (max-width: 960px) {
  .aside__text-wrapper {
    margin-bottom: 0;
    padding-block: 70px;
  }
}
.aside .text2,
.aside .text3 {
  display: none;
}
.aside .btn-container {
  width: 10vw;
  position: absolute;
  bottom: 0;
  display: flex;
}
@media screen and (max-width: 960px) {
  .aside .btn-container {
    width: 13vw;
    height: 48px;
    bottom: auto;
    top: -48px;
    right: 0;
  }
}
.aside .btn-container .btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: hsl(0, 0%, 0%);
  padding-block: 1.5rem;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.section-1,
.section-3 {
  grid-column: span 3;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.section-2 {
  grid-column: span 4;
}
@media screen and (max-width: 1200px) {
  .section-2 .section__text-wrapper {
    padding-block: 30px;
  }
}
@media screen and (max-width: 960px) {
  .section-2 .section__text-wrapper {
    padding-block: 50px;
  }
}
@media screen and (max-width: 595px) {
  .section-2 .text-wrapper {
    width: 90%;
    padding-block: 10%;
  }
}
.section-2 .stretched-text {
  letter-spacing: 0.5rem;
  font-size: 0.8rem;
}

@media screen and (max-width: 960px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
