@use "./variables" as var;
@use "./mediaQuery" as *;

.about {
  display: grid;
  grid-template-columns: 1fr 560px 1fr;
  min-height: 30vh;

  @include mq(sp) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  @include mq(tab) {
    //grid-template-columns: 1fr 370px 1fr;
    display: flex;
    flex-direction: row;
    min-height: 40vh;
    position: relative;
  }

  &__column1 {
    background-image: url("../../images/image-about-dark.jpg");
    background-size: cover;

    @include mq(sp) {
      grid-column: 1/2;
      background-size: cover;

      &.dark {
        filter: blur(2px);
      }
    }

    @include mq(tab) {
      width: 65%;
    }
  }

  &__column3 {
    background-image: url("../../images/image-about-light.jpg");
    background-size: cover;

    @include mq(tab) {
      width: 65%;
      background-position: 50% 50%;
    }
  }

  &__column2 {
    padding: 9% 8%;

    @include mq(sp) {
      padding: 10% 7%;
    }

    @include mq(tab) {
      padding: 1rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    h2 {
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0.5rem;
      margin-bottom: 13px;

      @include mq(sp) {
        margin-bottom: 25px;
      }

      @include mq(tab) {
        font-size: 0.9rem;
        font-weight: 800;
        margin-top: 0.5rem;
      }
    }

    p {
      color: var.$dark-gray;
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.3rem;

      @include mq(tab) {
        font-size: 0.8rem;
        line-height: 1rem;
      }
    }
  }
}
