@use "./variables" as var;
@use "./mediaQuery" as *;

.about {
  display: grid;
  grid-template-columns: 1fr 560px 1fr;
  min-height: 30vh;

  @include responsive() {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  &__column1 {
    background-image: url("../../images/image-about-dark.jpg");
    background-size: cover;

    @include responsive() {
      grid-column: 1/2;
    }
  }

  &__column3 {
    background-image: url("../../images/image-about-light.jpg");
    background-size: cover;
  }

  &__column2 {
    padding: 9% 8%;

    @include responsive() {
      padding: 10% 7%;
    }

    h2 {
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0.5rem;
      margin-bottom: 13px;

      @include responsive() {
        margin-bottom: 25px;
      }
    }

    p {
      color: var.$dark-gray;
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.3rem;
    }
  }
}
