@use "./variables" as var;
@use "./mediaQuery" as *;
@use "./base";
@use "./reset";

.aside {
  grid-column: span 4;
  position: relative;
  height: 100%;

  &__text-wrapper {
    width: 70%;
    margin-inline: auto;

    @include mq(tab) {
      margin-bottom: 0;
      padding-block: 70px;
    }
  }

  .text2,
  .text3 {
    display: none;
  }

  .btn-container {
    width: 10vw;
    position: absolute;
    bottom: 0;
    display: flex;

    @include mq(tab) {
      width: 13vw;
      height: 48px;
      bottom: auto;
      top: -48px;
      right: 0;
    }

    .btn {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      background-color: var.$black;
      padding-block: 1.5rem;
      border: none;
      cursor: pointer;
      transition: 0.2s;
    }
  }
}

// .slider {
//   @extend .container;
//   display: grid;
//   grid-template-columns: repeat(12, 1fr);
//   overflow-x: hidden;
//   height: 60vh;

//   @include mq(tab) {
//     grid-template-columns: 1fr;
//     grid-template-rows: 1fr 1fr;
//   }

//   &__img--wrapper {
//     position: relative;
//     grid-column: 1/8;

//     @include mq(tab) {
//       grid-column: 1 / 2;
//       grid-row: 1 / 2;
//     }

//     @include mq(sp) {
//       min-height: 70vh;
//     }
//   }

//   &__img {
//     background-image: url("../../images/desktop-image-hero-1.jpg");
//     background-repeat: no-repeat;
//     background-size: cover;
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     left: 0;
//     top: 0;
//     opacity: 0;

//     &.active-photo {
//       opacity: 1;
//     }

//     @include mq(sp) {
//       background-image: url("../../images/mobile-image-hero-1.jpg");
//     }

//     &:nth-child(1) {
//       background-image: url("../../images/desktop-image-hero-1.jpg");
//       @include mq(sp) {
//         background-image: url("../../images/mobile-image-hero-1.jpg");
//       }
//     }

//     &:nth-child(2) {
//       background-image: url("../../images/desktop-image-hero-2.jpg");
//       @include mq(sp) {
//         background-image: url("../../images/mobile-image-hero-2.jpg");
//       }
//     }

//     &:nth-child(3) {
//       background-image: url("../../images/desktop-image-hero-3.jpg");
//       @include mq(sp) {
//         background-image: url("../../images/mobile-image-hero-3.jpg");
//       }
//     }
//   }

//   &__btn--wrapper {
//     display: flex;
//     position: absolute;
//     z-index: 1;
//     bottom: 0;
//     left: 100%;

//     @include mq(sp) {
//       left: unset;
//       right: 0;
//     }

//     .slider__btn {
//       width: 4.85rem;
//       height: 4.85rem;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       border: none;
//       background-color: var.$black;
//       cursor: pointer;

//       @include mq(tab) {
//         width: 3rem;
//         height: 3rem;
//       }

//       &:hover {
//         background-color: var.$very-dark-gray;
//       }
//     }
//   }

//   &__text--wrapper {
//     grid-column: 8/13;
//     position: relative;
//     overflow: hidden;

//     @include mq(tab) {
//       grid-column: 1 / 2;
//       grid-row: 2 / 3;
//     }
//   }

//   &__text {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     width: 100%;
//     height: 100%;
//     display: none;
//     padding: 6rem;
//     opacity: 0;

//     @include mq(tab) {
//       padding: 2rem;
//     }

//     &.active-text {
//       opacity: 1;
//     }

//     @include mq(sp) {
//       padding: 4rem 2rem;
//     }

//     .heading {
//       font-size: 3rem;
//       font-weight: 700;
//       margin-bottom: 1.5rem;

//       @include mq(tab) {
//         font-size: 1.8rem;
//       }

//       @include mq(sp) {
//         font-size: 2.5rem;
//       }
//     }

//     .desc {
//       color: var.$dark-gray;
//       font-size: 1rem;
//       font-weight: 600;
//       line-height: 1.5;
//       margin-bottom: 1.5rem;

//       @include mq(tab) {
//         font-size: 0.8rem;
//         margin-bottom: 0.3rem;
//       }

//       @include mq(sp) {
//         margin-bottom: 4rem;
//       }
//     }

//     .arrow-icon {
//       display: flex;

//       span {
//         text-transform: uppercase;
//         font-weight: 700;
//         color: var.$black;
//         font-size: 1rem;
//         letter-spacing: 0.8rem;

//         @include mq(tab) {
//           font-size: 0.7rem;
//           letter-spacing: 0.5rem;
//         }
//       }

//       img {
//         margin-left: 1.5rem;

//         @include mq(tab) {
//           margin-left: 1rem;
//         }
//       }
//     }

//     &.active-text {
//       display: block;
//     }
//   }
// }
