@use "./variables" as var;
@use "./mediaQuery" as *;
@use "./base";
@use "./reset";

.aside {
  grid-column: span 4;
  position: relative;
  height: 100%;

  &__text-wrapper {
    width: 70%;
    margin-inline: auto;

    @include mq(tab) {
      margin-bottom: 0;
      padding-block: 70px;
    }
  }

  .text2,
  .text3 {
    display: none;
  }

  .btn-container {
    width: 10vw;
    position: absolute;
    bottom: 0;
    display: flex;

    @include mq(tab) {
      width: 13vw;
      height: 48px;
      bottom: auto;
      top: -48px;
      right: 0;
    }

    .btn {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      background-color: var.$black;
      padding-block: 1.5rem;
      border: none;
      cursor: pointer;
      transition: 0.2s;
    }
  }

  &__span {
    color: var.$black;
    font-size: 1rem;
    letter-spacing: 0.5rem;
    font-weight: 600;
  }
}
