@use "./variables" as var;
@use "./mediaQuery" as *;

body {
  font-size: var.$default-size;
  font-family: var.$main-font;
  // height: 100vh;
  // width: 100vw;
  min-width: 100vw;
  min-height: 100vh;

  @include mq(pc) {
    min-height: 100vh;
    height: unset;
  }

  @include mq(sp) {
    // height: 100%;

    // &.dark {
    //   background: rgba(100, 100, 100, 0.8);
    // }
  }
}

#overlay {
  @include mq(sp) {
    &.dark {
      position: fixed;
      left: 0;
      top: 73px;
      width: 100%;
      height: 342%;
      background: rgba(100, 100, 100, 0.8);
      z-index: 100;
    }
  }
}
