@use "./variables" as var;
@use "./mediaQuery" as *;
@use "./base";

.header {
  position: absolute;
  z-index: 2;
  width: 100%;

  &__wrapper {
    display: flex;
    align-items: center;
    padding: 0 5rem;
    min-height: 8rem;

    @include responsive() {
      padding: 0 1rem;
      background-color: var.$white;
      min-height: 4rem;
    }
  }

  &__logo {
    @include responsive() {
      position: absolute;
      left: 45%;
    }
  }

  &__hamburger--mobile {
    display: none;

    @include responsive() {
      display: block;
    }
  }

  &__close-icon {
    display: none;

    @include responsive() {
      display: block;
    }
  }

  img {
    object-fit: contain;
  }

  &__nav {
    @include responsive() {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;

      @include responsive() {
        position: relative;
        left: 10%;
      }

      li a {
        color: var.$white;
        padding: 1rem;
        text-transform: lowercase;
        font-size: 18px;
        font-weight: 500;
        position: relative;

        &::after {
          position: absolute;
          content: "";
          left: 50%;
          width: 0;
          height: 2px;
          background: hsl(0, 0%, 100%);
          bottom: 12px;
          transition: 0.3s;
          transform: translateX(-50%);
        }

        &:hover::after {
          width: calc(70% - 20px);
        }

        @include responsive() {
          color: var.$black;
        }
      }
    }
  }
}
