.header {
  &__wrapper {
    background-image: url("../../images/desktop-image-hero-1.jpg");
    display: flex;
  }

  &__hamburger--mobile,
  &__close-icon {
    display: none;
  }

  &.header__nav {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
