@use "./variables" as var;
@use "./mediaQuery" as *;
@use "./base";

.main {
  grid-column: span 6;

  .slider {
    &__img--desktop {
      @include mq(pc) {
        display: none;
      }
    }

    &__img--mobile {
      @include mq(pc) {
        display: block;
      }
    }
  }
  .header {
    position: absolute;
    max-height: 5rem;
    width: 50%;
    top: 3rem;
    left: 3rem;

    @include mq(sp) {
      width: 100%;
      top: 2rem;
      left: 0;
      padding-inline: 2rem;
    }

    &__wrapper {
      display: flex;
      align-items: center;
      gap: 4rem;

      @include mq(sp) {
        gap: 0;
      }

      .hamburger {
        display: none;

        @include mq(sp) {
          display: block;
        }
      }

      .logo {
        @include mq(sp) {
          margin-inline: auto;
        }
      }
    }

    &__nav {
      @include mq(sp) {
        position: fixed;
        width: max-content;
        width: 100%;
        background-color: white;
        top: 0;
        left: 0;
        z-index: 10;

        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s linear 0.25s;

        &.open {
          max-height: 10rem;
          overflow: hidden;
          transition: max-height 0.4s linear;
        }

        &::before {
          content: "";
          background-color: var.$very-dark-gray;
          position: fixed;
          inset: 0;
          z-index: -1;
          opacity: 0.65;

          max-height: 0;
          transition: 0.5s linear;
        }

        &.open::before {
          max-height: 100vmax;
          transition: 0.5s linear 0.1s;
        }
      }
      ul {
        list-style-type: none;
        display: flex;
        gap: 2rem;

        @include mq(sp) {
          justify-content: flex-end;
          align-items: center;
          padding: 1.5rem 5%;
          background-color: white;
          margin: 0;
        }

        a {
          display: block;
          padding-block: 12px;
          color: var.$white;
          font-size: 1.1em;
          font-weight: 500;
          position: relative;

          @include mq(sp) {
            color: var.$black;
          }

          &::after {
            content: "";
            left: 50%;
            width: 0;
            height: 2px;
            background: hsl(0, 0%, 100%);
            bottom: 12px;
            transition: 0.3s;
            transform: translateX(-50%);
            position: absolute;
          }

          &:hover::after {
            width: calc(70% - 20px);
          }
        }

        .close-li {
          @include mq(sp) {
            margin-inline: auto;

            .close {
              background-image: url("../../images/icon-close.svg");
              width: 15px;
              background-repeat: no-repeat;
              background-size: contain;
              aspect-ratio: 1;
            }
          }
        }
      }
    }
  }
}
